div{
    height: 500px;
    width: 600px;
 color: #f6f1f1;
 
    
    border-radius: 6px;
position: absolute;
top: 100px;
left:200px;
}
#contact-form{
    position: absolute;
top: 100px;
left:200px;
height: 50px;
width: 60px;
border-radius: 10px;
}
.s{
    border-radius: 10px;
    width: 300px;
    height: 40px;
}
#be{
height: 38px;
background-color: rgb(28, 28, 232);
border-radius: 20px;
border: none;
color: white;
}
#name{
border: solid 1px rgb(161, 155, 155);
}
.n{
  color:  rgb(161, 155, 155);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}

a{
    position: relative;
    top: 370px;
    left: 480px;
    color: rgb(45, 41, 41) ;
}
.im{
    width: 60px;
    height: 60px;
    position: relative;
    left: 380px;
    top: 100px;
    border: solid 1px rgb(161, 155, 155);
    border-radius: 30px;

}
.but{
height: 38px;
width: 300px;
background-color: white;
color: rgb(28, 28, 232) ;
border: solid 1px  rgb(28, 28, 232);
border-radius: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 450px;
left: 210px;
}
.me{
    width: 60px;
    height: 60px;
    position: relative;
    top: 520px;
    left: 20px;

}
